:root {
    --main-color: #10cab7;
    --secondary-color:#2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --fake-image-color: #ebe3e3;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
/* Header section end in line 113*/
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* special Heading */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}


.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    
}
.header .links .icon span:first-child {
    height: 2px;
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    height: 2px;
    width: 60%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.header .links:hover .icon span:nth-child(2)  {
    width: 100%;
}
.header .links .icon span:last-child  {
    height: 2px;
    width: 100%;
}
.header .links ul {
margin: 0;
padding: 0;
background-color:var(--section-background);
position: absolute;
right: 0;
list-style-type: none;
min-width: 200px;
top: calc(100% + 15px);
display: none;
}
.header .links:hover ul {
    display: block;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* landing section */

.landing {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.intro-text h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);

}
.intro-text p {
    font-size: 19px;
    line-height: 1.8;

}

/* Features Section */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
    
}
.features .feat h3 {
    margin: 30px 0;
    font-weight: 800;
}
.features .feat p {
    line-height: 1.8;
    color:#777;
    font-size: 17px;
    background-color: white;
}
/* services section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .service-1 {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .service-1 {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .service-1 i {
    color: var(--main-color);
    flex-basis: 60px;
}
.service-1 .text {
    flex: 1;
    background-color: white;
}
.services .services-content .service-1 h3 {
    margin:0 0 20px ;
}
.services .services-content .service-1 p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;

}
.col .image {
    text-align: center;
    position: relative;
}
.col .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;

}
.col .image .fake-image {
    width: 260px;
    height: 360px;
    background-color: var(--fake-image-color);

}
/* @media (max-width:1199px) المفروض بس انا عندى الشاشه صغيره قله */
@media (max-width:1000px) {
     .image-hide {
        display: none;
    }
}
/* portifolio section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.portfolio-content .fake-image {
    width: 300px;
    height: 300px;
    background-color:var(--fake-image-color);
    margin-top: 40px;
}
.portfolio-content .text {
    padding: 20px;
}
.portfolio-content .text p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
    max-width: 280px;
    background-color: white;
}
.portfolio-content .text h3 {
    margin: 0;
}
/* About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.about .about-content {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    margin-top: 70px;
}
@media (max-width: 991px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about-content .fake-image {
        margin: auto;
    }
    
}
.about-content .fake-image {
    width: 250px;
    height: 300px;
    background-color: var(--fake-image-color);
    position: relative;
    margin-top: 100px;
}
.about-content .fake-image::after {
    content: "";
    position: absolute;
    top: -46px;
    right: -136px;
    height: 214px;
    width: 100px;
    border-left: 90px solid var(--main-color);
    border-bottom: 70px solid var(--main-color);
    z-index: -1;
}
@media (max-width: 767px) {
    .about-content .fake-image::after {
        display: none;
    }
    .about-content .fake-image {

    }
}

.about-content .text {
    flex-basis: calc(100% - 500px);
    margin-top: 60px;
    background-color: white;
}
.about-content .text p {
    font-size: 17px;
    line-height: 1.6;
}
.about-content .text .special-para {
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 60px;
    position: relative;

    
}
.special-para::after {
    content: "";
    width: 200px;
    height: auto;
    position: absolute;
    bottom: -33px;
    left: 0;
    border-bottom: 2px solid var(--main-color);
}
/* Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .lable {
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 20px;
}
.info .link {
    display: block;
    font-size: 40px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 20px;
}
.info .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--secondary-color);
    
}
.info .social i {
    margin-left: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.info .social i:hover {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
@media (max-width: 767px) {
    .contact .info .lable ,
    .contact .info .link {
        font-size: 25px;
    }
    .info .social {
        flex-direction: column;
        
    }
    .info .social i {
        margin-top: 10px;
        
    }
    .info .social i:hover {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);

}
}
/* footer section */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;

}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}